.love-ya-like-a-sister-regular {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .love-ya-like-a-sister-regular {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .zeyada-regular {
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
  }
      